# Ignore VLT files
.vlt
.vlt-sync.log
.vlt-sync-config.properties

# Ignore Quickstart launches in the source tree
license.properties
crx-quickstart

# Ignore compilation results
target

# Ignore IDE and Operating System artifacts
.idea
.classpath
.metadata
.project
.settings
maven-eclipse.xml
*.iml
*.ipr
*.iws
.DS_Store

# Node
content/node_modules
node/
node_modules/
npm-debug.log

# Velocity
bundle/velocity.log.*
bundle/velocity.log
velocity.log*

# Other
lib/